<div class="starthidden alert alert-success infobox" id="successmsg"></div>
<div class="starthidden alert alert-primary upinfobox" id="file_uploading_notification">
  <i class="fa fa-spinner fa-spin"></i> Uploading File...
</div>
<div class="starthidden alert alert-info upinfobox" id="notification">
  
</div>
<div class="starthidden alert alert-info centerinfobox" id="loading"><i class="fa fa-spin fa-spinner"></i> Loading...</div>


<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src="js/jquery.min.js"></script>
    
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/functions.js"></script>
    <script>if (window.module) module = window.module;</script>
    </body>
    </html>