<%- include ('partials/header') -%>
<style>
  .content{
    height: calc(100vh);
    padding-top: 40px;
  }
</style>
<section class="content bg">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card" id="activation_key_div">
          <div class="card-header">
            <h3>Initial configuration is complete.</h3>
            <h4>Activate your system</h4>
          </div>
          <div class="card-body">
            <div >
              <label>Please enter your license key & click the Submit button</label><br>
              <em class="text-muted">The license key is in the format XXXXX-XXXXX-XXXXX-XXXXX. It 
                is sent to your email when you purchase the software
              </em>
              <input id="key" type="text" class="form-control">
              <button id="activatebtn" class="btn btn-block btn-primary">Submit</button>
          </div>
          </div>
        </div>
        
        
       <div class="card starthidden" id="details">
         <div class="card-header">
          <h4>Company Data Found For License: </h4>
         </div>
         <div class="card-body">
          <div  class="list-group ">
            <form action="saveActivation" method="POST">
                
                <input hidden type="text" name="name" id="act_name_input" >
                <input hidden type="text" name="phone" id="act_phone_input" >
                <input hidden type="text" name="email" id="act_email_input" >
                <input hidden type="text" name="address" id="act_address_input" >
                <input hidden type="text" name="digital_address" id="act_digital_address_input" >
                <input hidden type="text" name="company_id" id="act_company_id" >
                <div class="list-group-item">
                  Name: <span id="name"></span>
                </div>
                <div class="list-group-item">
                  Phone: <span id="phone"></span>
                </div>
                <div class="list-group-item">
                  Email: <span id="email"></span>
                </div>
                <div class="list-group-item">
                  Location: <span id="address"></span>
                </div>
                <div class="list-group-item">
                  Digital Address: <span id="digital_address"></span>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Continue</button>
            </form>
           
  
          </div>
         </div>
       </div>

        
      </div>

    </div>



  </div>
</section>

<!-- <script src="/socket.io/socket.io.js"></script> -->

<%- include ('partials/footer') -%>