<%- include ('partials/header') -%>
<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <h4 class="text-danger">Activation Failed!</h4>
        <a href="/activation"> Click here</a> to try
             again or contact our support for help.
      </div>

    </div>



  </div>
</section>

<%- include ('partials/footer') -%>