<%- include ('partials/header') -%>
<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <h4>Activation Required</h4>
        <div id="activation_key_div">
            <label>Please enter your license key & click the Submit button</label><br>
            <input id="key" type="text" class="form-control">
            <button id="activatebtn" class="btn btn-block btn-primary">Submit</button>
        </div>
       

        <div id="details" class="list-group starthidden">
          <form action="saveActivation" method="POST">
              <h4>Company Data Found For License: </h4>
              <input hidden type="text" name="name" id="act_name_input" >
              <input hidden type="text" name="phone" id="act_phone_input" >
              <input hidden type="text" name="email" id="act_email_input" >
              <input hidden type="text" name="address" id="act_address_input" >
              <input hidden type="text" name="digital_address" id="act_digital_address_input" >
              <div class="list-group-item">
                Name: <span id="name"></span>
              </div>
              <div class="list-group-item">
                Phone: <span id="phone"></span>
              </div>
              <div class="list-group-item">
                Email: <span id="email"></span>
              </div>
              <div class="list-group-item">
                Location: <span id="address"></span>
              </div>
              <div class="list-group-item">
                Digital Address: <span id="digital_address"></span>
              </div>
              <button type="submit" class="btn btn-block btn-primary">Continue</button>
          </form>
         

        </div>
      </div>

    </div>



  </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script>

  var socket = io();
</script>
<%- include ('partials/footer') -%>