<%- include ('partials/header') -%>
<section  class="content">
    <div class="card-body table-responsive">
        <table id="backup_list" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>res</td>
                   
                </tr>
            <tbody>
                
                    <% results.forEach(function(item){ 
                            %>
                            <tr>
                                
                                <td><%= item.name %> </td>
                                <td><%= item.results %> </td>
                            </tr>
                    
                    <% 
                }) %>


                  

            
                
            </tbody>

            </thead>
        </table>
    </div>
</section>
