<%- include ('partials/header') -%>
<style>
  .content{
    height: calc(100vh);
    padding-top: 40px;
  }
</style>
<section class="content bg">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <h3>Druglane Pharmacy Management</h3>
        
    <h5>Configuration is complete. Click the</h5>
        
       <a href="/setup" class="btn btn-lg btn-success">BEGIN SETUP</a>

        
      </div>

    </div>



  </div>
</section>

<!-- <script src="/socket.io/socket.io.js"></script> -->

<%- include ('partials/footer') -%>