<%- include ('partials/header') -%>
<style>
    .content{
      height: calc(100vh);
    }
  </style>
<section class="content bg">
    <div class="flex-container small-margins">
        <div><a  class="backBtn link"><i class="fa fa-arrow-left"></i> Back</a></div>
        <div><a  href="/"><i class="fa fa-home"></i> Home </a></div>
        <!-- <div><a  href="/setup"><i class="fa fa-home"></i> Setup </a></div> -->
    </div>
    <div class="container">
        
      
     <div class="row justify-content-center">
        

        <div class="col-md-6">
            <h3 class="text-white text-shadow">Login - Druglane POS Server</h3>
            <div class="card card-body">
                <div class=" text-center">
                    
                    <h5>Enter the Administrator Password</h5>
                    <%
                        if(error != ""){
                    %>
                    <div class="alert alert-danger">
                        Wrong password. Try again.
                    </div>
                    <% } %>
                        <form action="dologin" method="POST">
                            <input required type="password" name="password" class="form-control">
                            <button type="submit" class="btn btn-block btn-success">Submit</button>
                            <a href="resetAdminPassword" class="btn btn-block btn-warning">Forgot Password</a>
                        </form>
                               
                </div>
        </div>
        </div>

        

      


</div>
	</div>
</section>
		
        <!-- <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script> -->
<%- include ('partials/footer') -%> 

