<%- include ('partials/header') -%>
<section class="content ">
    <div class="flex-container small-margins">
        <div><a  class="backBtn link"><i class="fa fa-arrow-left"></i> Back</a></div>
        <div><a  href="/"><i class="fa fa-home"></i> Home </a></div>
        <!-- <div><a  href="/setup"><i class="fa fa-home"></i> Setup </a></div> -->
    </div>
        <div class="container">
            
            <h3>Reset Admin Password</h3>
            <div class="row content-justify-center">
                <div class="col-md-6">
                <%
          if(error && !retry){
      %>
                <div class="alert alert-danger">
                        <%= message %>
                </div>
                <% }
                else{ 
                    if(message != ""){ %>
                        <div class="alert alert-info">
                            <%= message %>
                    </div>
                 <%   }
                    %>
                    <form action="doResetPassword" method="POST">

                        <div class="card">
                            <div class="card-body">
                                
                                <div class="form-group">
                                    <label >Token</label> <br>
                                    <input type="text" name="token">
                                </div>
                                <div class="form-group">
                                    <label >New Password</label> <br>
                                    <input type="password" name="new_password">
                                </div>
                                <div class="form-group">
                                    <label >Confirm New Password</label> <br>
                                    <input type="password" name="confirm_new_password">
                                </div>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
             <%   } 
        %>
                </div>
            </div>
           
        </div>
</section>

<!-- <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script> -->
<%- include ('partials/footer') -%>

