<%- include ('partials/header') -%>
<script src="js/angular.min.js"></script>
<style>
  .content{
    height: calc(100vh);
    padding-top: 40px;
  }
</style>
<section ng-app="" class="content bg">
    <div class="container-fluid">
  
  
      
  
      <form action="saveSetup" method="POST">
        <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header text-center">
                  <h4 class="">
                    Welcome to <%= name %>
                     
                 </h4>
                 <h5>Please Setup Your Admin</h5>
                </div>
                <div class="card-body">
                  <%= message %>
                  <form action="saveSetup" method="POST">
                      <div class="form-group">
                          <label  class="control-label">Admin Password</label>
                          <input ng-model="password" name="password" required type="password" class="form-control"
                             >
                      </div>
                      <div class="form-group">
                          <label class="control-label">Confirm Admin Password</label>
                          <input ng-model="confirm_password" name="confirm_password" required type="password" class="form-control"
                           >
                      </div>
                      <div class="form-group">
                        <label class="control-label">Specify the shifts your company runs. Separate with commas.</label> <br>
                        <em class="text-muted">
                          E.g. If you run 3 shifts, you can type Morning, Afternoon, Evening. Sales persons will be required to select 
                          the shift they are working. If you don't have any shifts but work the full day, leave it blank.
                        </em>
                        <input value="Morning" name="number_of_shifts" required type="text" class="form-control"
                         >
                    </div>
                      <div ng-show="confirm_password != password && password != '' && confirm_password != ''" class="alert alert-danger">
                        Please make sure the passwords match
                      </div>
                      <button ng-disabled="confirm_password != password && password != '' && confirm_password != ''" type="submit" class="btn btn-primary btn-block">Submit</button>
                  </form>
                </div>
              </div>
              
                   
                        
            </div>
            
            


        </div>
        

    </form>
  
  
  </div>
  
  </section>


  <%- include ('partials/footer') -%>